.gradle/
.idea/
build/
**/build/
work/
local.properties
*.iml
*.keystore
*.jks
*.apk
secrets.properties
server/.env
.kotlin/
roms/
bios/
saves/
*.gba
*.nds
*.iso
*.bin
*.cue
*.z64
*.gbc
*.cia
*.sav
*.zip
gbs/
DS/
PS1/
PSP/
node_modules/
*.rar
*.exe
*.log
app-debug.apk
server/streaming/output/
melonDS-*.zip
